@import '../variables.scss';
@import '../mixins.scss';

.main {
    &_title {
        padding: 16px;
        width: 100vw;
        text-align: center;
        background-color: $color-bg;
    }
    &_content {
        @include tablet-small {
        width: 100vw;
        }
    }
    &_footer {
        background-color: $color-bg;
        width: 100vw;
        padding: 16px 256px 16px 16px;
    }
}