@import '../variables.scss';
@import '../mixins.scss';

.main {
    &_title {
        padding: 8px;
        width: 100vw;
        text-align: center;
        background-color: $color-bg;
    }
    &_content {
        width: 100vw;
    }
    &_footer {
        width: 100vw;
    }
}