@import '../variables.scss';
@import '../mixins.scss';

.menu {
    position: fixed;
    text-align: right;
    @include tablet-small {
        top: 0;
        min-height: 100vh;
        background-color: dimgrey;
    }
    &_hamburger {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        @include tablet-small {
            display: none;
        }
        .hamburger_line {
            width: 32px;
            height: 3px;
            background-color: $color-main;
            transition: $transition;
            border-radius: 2px;
        }
        .hamburger_top {
            transform: none;
            transform-origin: left top;
            transition: $transition;
            margin-bottom: 5px;
            &--open {
                transform: translateY(3px) rotate(-45deg);
            }
        }
        .hamburger_middle {
            opacity: 1;
            transform: none;
            transition: $transition;
            &--open {
                opacity: 0;
                transform: translateX(10px);
            }
        }
        .hamburger_bottom {
            transform: none;
            transform: none;
            transition: $transition;
            margin-top: 5px;
            &--open {
                transform: translateY(-3px) rotate(45deg);
            }
        }
    }
    &_nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        padding-right: 24px;
    }
    &_list {
            position: relative;
            width: 100%;
            height: 100vh;
            top: 62px;
            right: -110px;
            list-style: none;
            z-index: 98;
            background-color: $color-bg;
            transition: $transition;
            @include tablet-small {
                right: 0;

            }
        }
        a {
            text-decoration: none;
            color: grey;
            &:hover {
                color: black;
            }
        }
    &_list--open {
        right: 0;
    }
}