@import '../variables.scss';
@import '../mixins.scss';

.menu {
    text-align: right;
    &_hamburger {
        position: fixed;
        top: 14px;
        right: 16px;
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        @include tablet-small {
            display: none;
        }
        .hamburger_line {
            width: 32px;
            height: 3px;
            background-color: $color-main;
            transition: $transition;
            border-radius: 2px;
        }
        .hamburger_top {
            transform: none;
            transform-origin: left top;
            transition: $transition;
            margin-bottom: 5px;
            outline: 1px groove $color-bg;
            &--open {
                transform: translateY(3px) rotate(-45deg);
            }
        }
        .hamburger_middle {
            opacity: 1;
            transform: none;
            transition: $transition;
            outline: 1px groove $color-bg;
            &--open {
                opacity: 0;
                transform: translateX(10px);
            }
        }
        .hamburger_bottom {
            transform: none;
            transform: none;
            transition: $transition;
            margin-top: 5px;
            outline: 1px groove $color-bg;

            &--open {
                transform: translateY(-3px) rotate(45deg);
            }
        }
    }
    &_nav {
        position: fixed;
        right: -100%;
        top: 50%;
        z-index: 98;
        background-color: $color-bg;
        transform: translateY(-50%);
        border-left: 1px solid $color-main;
        transition: $transition;
        @include tablet-small {
            right: 0;
            border: none;
            background-color: transparent;
        }
    }
    &_vertical-line {
        position: relative;
        width: 2px;
        height: 50vh;
        opacity: 0.2;
        margin-left: 176px;
        border-left: 2px solid $color-main-neg;
        border-right: 2px solid $color-main;
    }
    &_list {
        position: relative;
        right: 0;
        padding: 16px 32px;
        font-size: $base-size * 2;
        font-weight: 900;
        list-style: none;
        li {
            opacity: 0.5;
            transition: $transition;
            &:hover {
                opacity: 1;
                color: $color-main;
                text-decoration: none;
            }
        }
        li.is-current {
            opacity: 0.9;
        }
        a {
            text-decoration: none;
            color: $color-main;
            text-shadow: -1px 0 $color-main-neg, 0 1px $color-main-neg, 1px 0 $color-main-neg, 0 -1px $color-main-neg;
            opacity: 0.8;
            &:hover {
                color: $color-main;
                text-decoration: none;
            }
        }
    }
    &_nav--open {
        right: 0;
    }
}