@import './variables.scss';

//media queries
@mixin mobile-large {
    @media (min-width: $breakpoint-mobile-large) {
      @content;
    }
  }
  
  @mixin tablet-small {
    @media (min-width: $breakpoint-tablet-small) {
      @content;
    }
  }
  
  @mixin tablet-large {
    @media (min-width: $breakpoint-tablet-large) {
      @content;
    }
  }
  
  @mixin laptop {
    @media (min-width: $breakpoint-laptop) {
      @content;
    }
  }

  //elements

  @mixin section {
    position: relative;
    min-height: 100vh;
  }

  @mixin title {
    margin: 0 0 24px 32px;
    font-size: $base-size * 3;
    font-weight: 700;
  }