//colors
$color-main: #000000;
$color-bg: #FFF000;
$color-main-neg: $color-bg;
$color-bg-dark: #1E1C23;
$color-med: #5a5766;
$color-button: #2C2832;
//font
$font-text: 'Source Sans Pro', ;
$base-size: 16px;
//transition
$transition: all .2s ease-in-out;
//breakpoints
$breakpoint-mobile-large: 576px;
$breakpoint-tablet-small: 768px;
$breakpoint-tablet-large: 992px;
$breakpoint-laptop: 1200px;