@import '../variables.scss';
@import '../mixins.scss';

.about {
    @include section;
    background-color: $color-bg;
    &_block {
        padding: 128px 0;
    }
    &_question {
        font-size: $base-size * 4;
        font-weight: 700;
        margin-left: 32px;
    }
    &_answer {
        margin-left: 32px;
        button {
            font-size: $base-size * 0.9;
            font-weight: 600;
            margin: 4px;
            border: 2px solid $color-main;
            background-color: transparent;
            transition: $transition;
            &:nth-child(1) {
            padding: 16px 56px;
            }
            &:nth-child(2) {
                padding: 16px 32px;
            }
            &:nth-child(3) {
                padding: 16px 24px;
            }
            &:hover {
                color: $color-main-neg;
                background-color: $color-main;
            }
        }
    }
    &_title {
        @include title;
    }
    &_text {
        padding: 16px 32px 256px;
        @include tablet-small {
            padding-right: 256px;
        }
        p {
            color: $color-main;
            font-size: $base-size * 0.8;
        }
    }
}