@import '../variables.scss';
@import '../mixins.scss';

.case-study {
    @include section;
    background-color: $color-bg-dark;
    &_title {
        @include title;
        color: $color-main-neg;
        padding-top: 128px;
    }
    &_stack {
        padding-left: 32px;
    }
    &_project {
        padding: 24px 16px;
        opacity: 0.2;
        transform: skewX(-20deg);
    }
    img {
        max-width: 250px;
        border: 3px solid $color-main-neg; 
    }
    .active {
        opacity: 1;
    }
    &_description {
        padding-bottom: 128px;
        @include tablet-small {
            width: 70vw;
        }
        h5 {
            color: $color-main-neg;
            font-size: $base-size *1.2;
            font-weight: 700;
        }
        p {
            color: $color-med;
            font-size: $base-size * 0.8;
        }
        a {
            color: $color-main-neg;
            font-size: $base-size * 0.9;
            text-decoration: none;
            transition: $transition;
            &:hover {
                color: $color-main-neg;
                text-decoration: underline;
            }
        }
    }
}