@import '../variables.scss';
@import '../mixins.scss';

.case-study {
    @include section;
    background-color: $color-bg-dark;
    &_title {
        @include title;
        color: $color-main-neg;
        padding-top: 128px;
    }
    .nav-tabs {
        border: none;
        justify-content: center;
        @include tablet-small {
            margin: 0 32px;
            justify-content: left;
        }
        .nav-link{
            opacity: 0.4;
           &.active {
            background-color: transparent;
            border: none;
            opacity: 1;
            }
            &:hover {
                border: none;
            }
            &:focus {
                outline: none;
            }
        }
    } 
    img {
        width: 250px;
        border: 3px solid $color-main-neg; 
        transform: skewX(-20deg);
    }
    
    &_description {
        padding: 32px 32px 128px 32px;
        @include tablet-small {
            width: 70vw;
        }
        h5 {
            color: $color-main-neg;
            font-size: $base-size *1.2;
            font-weight: 700;
        }
        p {
            color: $color-med;
            font-size: $base-size * 0.9;
        }
        a {
            color: $color-main-neg;
            font-size: $base-size * 0.9;
            text-decoration: none;
            transition: $transition;
            &:hover {
                color: $color-main-neg;
                text-decoration: underline;
            }
        }
    }
}