@import '../variables.scss';
@import '../mixins.scss';

.contact {
    @include section;
    background-color: $color-bg-dark;
    &_title {
        @include title;
        color: $color-main-neg;
        padding-top: 64px;
    }
}