@import '../variables.scss';
@import '../mixins.scss';

.services {
    @include section;
    background-color: $color-bg;
    &_title {
        @include title;
    }
    &_links {
        width: min-content;
        margin: 0 auto;
        text-align: center;
        border: 1px solid $color-main;
        @include tablet-small {
            width: max-content;
            margin-left: 32px;
        }
        }
    &_box {
        height: 160px;
        width: 160px;
        margin: 0;
        padding-top: 16px;
        border: 1px solid $color-main;
        transition: $transition;
        a {
            font-weight: 600;
            color: $color-main;
            transition: $transition;
        }
        &:hover {
            background-color: $color-main;
            a {
            color: $color-main-neg;
            text-decoration: none;
            }
        }
    }
    &_footnote {
        padding: 128px 32px 128px 32px ;
        @include tablet-small {
            padding-right: 256px;
        }
        a {
            color: red;
            &:hover {
                color: red;
            }
        }
    }
}