@import '../variables.scss';
@import '../mixins.scss';

.start {
    @include section;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: $color-bg;
    &_title {
        font-size: $base-size * 4;
        font-weight: 700;
        margin-left: 32px;
        transform: translateY(-50%);
        @include mobile-large {
            font-size: $base-size * 5;
        }
    }
}